[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
fastapi = {extras = ["all"], version = "*"}
django = "*"
djongo = "*"
django-import-export = "*"
sqlalchemy = "*"
databases = {extras = ["sqlite"], version = "*"}
python-multipart = "*"
aiofiles = "*"
fastapi-users = {extras = ["sqlalchemy"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
pydantic = {extras = ["email"], version = "*"}
motor = "*"

[requires]
python_version = "3.8"
